.circle-button {
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-pref-width: 200px;
    -fx-pref-height: 200px;
}

.circle-label {
    -fx-font-size: 1.5em;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.blue-circle {
    -fx-background-color: rgba(0, 123, 255, 0.7);
}

.black-circle {
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

.red-circle {
    -fx-background-color: rgba(255, 0, 0, 0.7);
}

.orange-circle {
    -fx-background-color: rgba(255, 165, 0, 0.7);
}

.green-circle {
    -fx-background-color: rgba(0, 128, 0, 0.7);
}

.circle-button:hover {
    -fx-background-color: rgba(0, 123, 255, 1.0); 
}


// code css pour la barre de Navigation et les titres des pages

/* Classe pour les boutons de la barre de navigation */
.icon-button {
    -fx-background-radius: 50; /* Rond */
    -fx-background-color: #444; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 14px; /* Taille du texte */
    -fx-pref-width: 70px; /* Largeur préférée */
    -fx-pref-height: 70px; /* Hauteur préférée */
    -fx-alignment: center; /* Alignement du contenu */
}

.icon-button:hover {
    -fx-effect: dropshadow(gaussian, blue, 10, 0, 0, 0);
    -fx-background-color: #666; /* Couleur de fond au survol */
}

.icon-button:pressed {
    -fx-background-color: #222; /* Couleur de fond au clic */
}

/* Classe pour le titre principal */
.main-title {
    -fx-font-size: 32px; /* Taille de la police */
    -fx-font-weight: bold; /* Texte en gras */
    -fx-text-fill: #333; /* Couleur du texte */
    -fx-alignment: center; /* Alignement du texte */
}

/* Classe pour le sous-titre */
.subtitle {
    -fx-font-size: 18px; /* Taille de la police */
    -fx-font-weight: normal; /* Texte normal */
    -fx-text-fill: #333; /* Couleur du texte */
    -fx-alignment: center; /* Alignement du texte */
}

/* Background image should cover the entire window */
.image-view {
    -fx-fit-height: 100%;
    -fx-fit-width: 100%;
    -fx-preserve-ratio: false;
}

/* Toolbar should occupy the full height of the window */
.toolbar {
    -fx-pref-height: 100%;
    -fx-background-color: grey;
}

/*PAge Evènements*/
.event-box:hover {
    -fx-background-color: lightblue !important;
}
